.logo {
  width: 142px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  height: 58px;
  padding: 12px 16px;
  text-align: left;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 30px;
}

.wrapper {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 30px;
}

.content {
  display: flex;
  gap: 20px;
}

.aside {
  flex: 0 0 300px;
  border-right: 1px solid #e5e5e5;
  padding-right: 20px;
}
